In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt

# 출산율

In [4]:
birth = pd.read_excel("C:/Users/wkdgu/Desktop/학술제/시도별_합계출산율.xlsx")
birth = pd.concat([birth[1:8], birth[9:]]).rename(columns={'시군구별':'시도별'})
birth = birth.set_index('시도별').rename(index={'제주특별자치도': '제주도'})
birth = pd.DataFrame(birth.stack()).rename(columns={0: '출산율'})
birth

C:\Users\wkdgu\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

              출산율
시도별
서울특별시 2017  0.836
      2018  0.761
      2019  0.717
      2020  0.642
부산광역시 2017  0.976
...           ...
경상남도  2020  0.945
제주도   2017  1.305
      2018  1.220
      2019  1.145
      2020  1.021

[64 rows x 1 columns]

# 고용률

In [194]:
labor = pd.read_excel("C:/Users/wkdgu/Desktop/학술제/시도별_여성고용률.xlsx")
labor = labor[['시도별', '2017', '2018', '2019', '2020']]
labor = pd.concat([labor[2:9], labor[10:]])
labor = labor.set_index('시도별').rename(index={'계': '전국'})
labor = pd.DataFrame(labor.stack()).rename(columns={0: '여성고용률'})
labor

C:\Users\wkdgu\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

           여성고용률
시도별
서울특별시 2017  51.7
      2018  51.6
      2019  52.2
      2020  51.6
부산광역시 2017  46.7
...          ...
경상남도  2020  50.4
제주도   2017  65.0
      2018  61.2
      2019  61.6
      2020  62.0

[64 rows x 1 columns]

# 시도별 출산휴가제도

In [184]:
# 출산휴가를 사용한 비율(%)
ml = pd.read_excel("C:/Users/wkdgu/Desktop/학술제/시도별_출산휴가제도.xlsx")
ml = ml.iloc[3:,1:].rename(columns = {'사업체특성별(2)':'시도별'}).set_index('시도별').rename(index={'제주특별자치도':'제주도'})
ml = pd.DataFrame(ml.stack()).rename(columns={0: '출산휴가사용비율'})
ml

C:\Users\wkdgu\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

           출산휴가사용비율
시도별
서울특별시 2017     12.9
      2018     12.8
      2019     10.2
      2020     10.9
부산광역시 2017     17.5
...             ...
경상남도  2020      8.8
제주도   2017      4.7
      2018     20.5
      2019     10.9
      2020      3.8

[64 rows x 1 columns]

# 시도별 배우자출산휴가제도

In [189]:
# 남편이 출산휴가를 사용한 비율(%)
spouse_ml = pd.read_excel("C:/Users/wkdgu/Desktop/학술제/시도별_배우자출산휴가제도.xlsx")
spouse_ml = spouse_ml.iloc[3:,1:].rename(columns = {'사업체특성별(2)':'시도별'}).set_index('시도별').rename(index={'제주특별자치도':'제주도'})
spouse_ml = pd.DataFrame(spouse_ml.stack()).rename(columns={0: '남성_출산휴가_사용비율'})
spouse_ml

C:\Users\wkdgu\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

           남성_출산휴가_사용비율
시도별
서울특별시 2017          7.5
      2018          7.1
      2019          5.6
      2020         10.1
부산광역시 2017          8.2
...                 ...
경상남도  2020          6.5
제주도   2017          5.1
      2018          3.8
      2019          6.2
      2020          9.8

[64 rows x 1 columns]

# 시도별 육아기 근로단축제도

In [187]:
cut = pd.read_excel("C:/Users/wkdgu/Desktop/학술제/육아기_근로시간_단축제도활용실적현황_20221110111659.xlsx")
cut = cut.iloc[3:,1:].rename(columns = {'사업체특성별(2)':'시도별'}).set_index('시도별').rename(index={'제주특별자치도':'제주도'})
cut = pd.DataFrame(cut.stack()).rename(columns={0: '육아기_근로시간단축_사용비율'})
cut

C:\Users\wkdgu\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

           육아기_근로시간단축_사용비율
시도별
서울특별시 2017             5.2
      2018             6.7
      2019             5.4
      2020             8.2
부산광역시 2017             4.3
...                    ...
경상남도  2020             7.8
제주도   2017             5.8
      2018             7.5
      2019            13.2
      2020             2.7

[64 rows x 1 columns]

In [196]:
panel_data = pd.concat([birth, labor, ml, spouse_ml, cut], axis = 1) 
panel_data.to_excel('panel_data.xlsx')